// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background: url('../images/soccerfield.jpg');
  // position: absolute;
  // z-index: -1;
  // background-size: cover;
  // background-repeat: no-repeat;
};

.clipboard {
// margin: 0 auto;
// width: 80em;
padding-left: 10px;
position: absolute;
z-index: -1;
};

.clipboardpositioning{
// text-align: center;
padding-top: 175px;
padding-left: 570px
};


.form-vertical{
  text-align: center;
}

.logo{
  position: relative;
  margin-top: -85px;
}

.links{
  float: right;
  padding-left: 17px;
}
.wellsessionform {
  height: 70px;
  background-color: #32CD32;
  position: relative;
};

.wellSessions{
  background-color: #32CD32;
}

.containerjumbotron {
  position: absolute;;
}
.image{
  padding-left: 150px;;
}

.runningman {
  padding-top: 100px;
  right: 100px;
}
