// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

*{
  font-family: 'Open Sans', sans-serif;
}

body {
  background: url('../images/soccerfield.jpg');
  // position: absolute;
  // z-index: -1;
  // background-size: cover;
  // background-repeat: no-repeat;
};

.clipboard {
  width: 900px;
  position: relative;
  height: 90vh;
  left: 150px;
};

.clipboardpositioning{
position: relative;
left: 150px;

};


.form-vertical{
  text-align: center;
  position: relative;
  bottom: 85vh;
  padding-top: 100px;
  left: 150px;
}

.logo{
  position: relative;
  margin-top: -85px;
}

.links{
  float: right;
  padding-left: 17px;
}
.wellsessionform {
  height: 20px;
  background-color: #32CD32;
  position: relative;
};

.wellSessions{
  background-color: #15DB95;
}

.well {
  height: 25px;
  margin-top: 30px;
}

.containerjumbotron {
  position: absolute;;
}

.splashimagesplash{
    position: relative;
    bottom: -6vh;
    right: 275px;
    padding-top: 4vh;
}

.splashimagejuggler {
  position: relative;
  left: 10vw;
}

.schedulelisting {
  padding-top: 3px;
  padding-bottom: 3px;
  list-style-type: square;
}

.login {
    position: relative;
    top: 15vh;
    right: 5vw;
    bottom: -2vh;
}
.logo {
  height: 100px;
  background-color: white;
}

h1 {
  font-weight: bold;
}

.form-group {
  padding: 5px;
  display: block;
  width: 100%;
}

.datescheduleform {
  position: relative;
  left: 130px;

}

.timescheduleform {
  position: relative;
  left: 130px;
}

.trainingdescriptionscheduleform {
  position: relative;
  left: 130px;
}

.text_backsplash{
  background-color: rgba(66, 64, 64, 0.76);
}

.text_backsplash > p {
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.loginbutton {
    position: relative;
    z-index: 10;
    left: 40vw;
    top: 16vh;

}

.centering-title{
  text-align: center;
  font-size: 48px;
  color: yellow;
  font-weight: bold;
}

.centering-schedule-title{
  text-align: left;
  color: red;
  font-weight: bold;
}

.userstories {
    position: relative;
    padding-top: 12vh;
    bottom: -3vh;
}

.centering-weather-title{
  text-align: center;
  color: red;
  font-weight: bold;
}

.centering-weather-information{
  text-align: center;
  background-color: rgba(31, 154, 207, 0.46);
}

.backgroundusercolor {
  background-color: rgba(66, 64, 64, 0.36);
  color: white;
}

// .container-splash {
//   display: -webkit-flex;
//   display: flex;
//   -webkit-flex-direction: column;
//   flex-direction: row;
//   -webkit-align-items: center;
//   align-items: center;
//   -webkit-justify-content: center;
//   justify-content: center;
//
//   .col-text {
//     text-align: center !important;
//   }
//
//   h1 {
//     text-align: center !important;
//   }
// }


.weather-flex{
  display: flex;

  img{
    height: 100px;
  }
}

.schedule-flex {
  display: flex;

  h2 {
    margin-top: auto;
  }

  a {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: 10px;
  }
}
